# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/novo_venv/
.venv/
venv/

# Environment variables
.env
*.env

# macOS
.DS_Store

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/
